:root {
  --main-bg: #fff;
  --main-bg2: #eee;
  --main-text: #221;
  --text-head: #62becc;
  --button: #5fb8c6;
  --key-button: radial-gradient(#c7f8ff, #026f7f);
}

html{
  background: var(--main-bg);
}

body{
  background: var(--main-bg);
  margin: 0;
  color: var(--main-text);
}

svg{
  display:none;
}
header, footer{
  background: var(--main-bg2);
  color: var(--main-text);
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}
header{
  border-bottom: 1px solid var(--main-text);
}

nav > span{
  color: var(--main-text);
  text-align: left;
  font-weight: bold;
  font-size: 1.5em;
}

nav ul{
  list-style-type: none;
  display: inline;
}

nav ul li{
  border: 2px solid var(--main-text);
  /* border-right: 2px solid var(--main-text); */
  display: inline-block;
  padding: 5px;
}

nav ul li a{
  color: var(--main-text);
  text-decoration: none;
}

canvas{
  border: 1px solid  var(--main-text);
  /* background-color: #cfcfcf; */
}

main{
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Editor Container styling*/
.editorContainer{
  background: var(--main-bg2);
  display: grid;
  grid-gap: 0 10px;
  grid-template-columns: 50px 1fr 1fr 1fr 1fr 50px;
  grid-template-rows: 1fr;
  grid-template-areas:". imagePanel canvasPanel canvasPanel controlPanel .";
  height: 80vh;
  width: 100vw;
}

.imagePanel, .canvasPanel, .controlPanel{
  border: 5px solid var(--main-bg2);
}

.imagePanel{
  grid-area: imagePanel;
}

.imagesContainer{
  padding:5px;
}

.imagesContainer img{
  width: 100px;
  height: auto;
  margin-right: 5px;
  object-fit: cover;
}

.imagesContainer img:hover{
  cursor: pointer;
}

.canvasPanel{
  background-color:#cfcfcf;
  background-image: linear-gradient(white 2px, transparent 2px),
    linear-gradient(90deg, white 2px, transparent 2px),
    linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
  background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
  /* background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px */
  grid-area: canvasPanel;
  overflow: scroll;
}

.controlPanel{
  grid-area: controlPanel;
}

.panelButton{
  background: var(--button);
  outline: none;
  text-align: center;
  width: 100%;
  margin-top: 10px;
  padding: 5px;
}

.panelButton:hover{
  cursor: pointer;
}

/* The Modal (background) */
.modal {
    /* display: none;  overtaken by ng-show */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: var(--main-bg);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
